<aside class=" container text-center col-lg-3 col-md-9 col-sm-9 border-start border-1 p-0">

    <h2 class="h1 p-3" >Huidige Pokemon</h2>
    <img class="img-fluid rounded-circl" src="/images/pikachu.png" alt="huidige pokemon">
    <h3>Pikachu</h3>
    
    
    
    </aside>