<aside class=" container text-center col-lg-3 border-start border-1 col-md-12 col-sm-12  p-0  d-flex flex-column align-items-center">

    <h2 class="h1 p-3" >Huidige Pokemon</h2>
    <img class="img-fluid rounded-circl" src="/images/pikachu.png" alt="huidige pokemon" width="100px">
    <h3>Pikachu</h3>
    <table class="table caption-top  mx-auto table-sm table table-hover">
        <caption class="text-center"><h3 class="h1">Statistieken</h3></caption>
        <tbody>
            <tr>
                <th id="asideTH" style="text-align: start;">HP</th>
                <td>10
                </td>
            </tr>
            <tr>
                <th id="asideTH" style="text-align: start;">Aanval</th>
                <td>10
                </td>
            </tr>
            <tr>
                <th id="asideTH" style="text-align: start;">Verdediging</th>
                <td>10  
                </td>
            </tr>
        </tbody>
    </table>
    
    
    
    </aside>
    