<aside class=" container text-center col-lg-3 col-md-9 col-sm-9 border-start border-1">

    <h2>Huidige Pokemon</h2>
    <img src="/images/pikachu.png" alt="Pikachu_placeholder">
    <h3>Pikachu</h3>
    
    
    
    </aside>