<footer class="footer">
<p class="text-center pt-4 ">&copy Eevee project groep</p>
<p class="text-center pt-4"> Powered by <a  id="footerlink" href="getbootstrap.com">BootStrap</a></p>
</footer>
</body>

</html>