<!DOCTYPE html>
<html lang="nl-BE">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.bundle.min.js" defer></script>
    <script src="/js/loadTheme.js" defer></script>
    <title>
        <%= title=="" ? `Project Eevee` : `Project Eevee - ${title}` %>
    </title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="row">

    <header class="bg-body-tertiary  p-0">

        <nav class="navbar navbar-expand-lg d-flex flex-column p-0">

            <% if(secondRow) {%><a class="eeveeLogo text-center position-absolute top-10 start-50 translate-middle-x" href="/home"><img src="/images/eevee_logo.png"></a> <%}%>
            <div class="container-fluid <%= secondRow ? "border-bottom" : "" %>">
                <a class="homebtn navbar-brand" href="/"><img src="/bootstrapIcons/house.svg" height="30px"></a>


                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <% if(currentUser) { %>
                    <div class="collapse navbar-collapse justify-content-lg-end" id="navbarSupportedContent">
                        <div class="d-flex justify-content-center">
                              <form action="/logout" method="post" class="nav-item dropdown d-flex gap-2 pe-lg-5 align-items-center justify-content-center">
                        <p class="m-2 ">Welkom <%= currentUser.name %></p>
                        <button id="buttonW" class="btn text-uppercase logout">Uitloggen</button>
                        </form> 
                        </div>
                      
                    </div>
                   
                    </div>
                <% } else { %>
                <div class="collapse navbar-collapse justify-content-end pe-5" id="navbarSupportedContent">
                    <ul class="d-grid gap-2 d-flex">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-uppercase" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Login
                                </a>
                                <ul class="dropdown-menu pb-0">
                                    <li>
                                        <form class="d-flex flex-column" action="/login" method="post" >
                                            <div class="mb-3">
                                              <input type="text" class="form-outline border border-0 border-bottom ms-2 me-2 mt-2 ps-1" id="emaila" aria-describedby="emailHelp" placeholder="Email" name="email" >
                                            </div>
                                            <div class="mb-4">
                                              <input type="password" class="form-outline border border-0 border-bottom ms-2 ps-1" id="password" placeholder="paswoord" name="password" >
                                            </div>
                                            <button type="submit" id="loginButton" class="btn text-uppercase fs-6 mb-0">Login</button>
                                          </form>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown me-5">
                                <a class="nav-link dropdown-toggle text-uppercase" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Registreer
                                </a>
                                <ul class="dropdown-menu pb-0">
                                    <li>
                                        <form class="d-flex flex-column" action="/register" method="post">
                                            <div class="mb-3">
                                              <input type="text" class="form-outline border border-0 border-bottom ms-2 me-2 mt-2 ps-1" id="emailb" aria-describedby="emailHelp" placeholder="Email" name="email">
                                            </div>
                                            <div class="mb-3">
                                              <input type="password" class="form-outline border border-0 border-bottom ms-2 ps-1" id="passworda" placeholder="paswoord" name="passworda">
                                            </div>
                                            <div class="mb-4">
                                                <input type="password" class="form-outline border border-0 border-bottom ms-2 ps-1" id="passwordb" placeholder="Herhaal paswoord" name="passwordb">
                                              </div>
                                            <button type="submit" id="registerButton" class="btn text-uppercase fs-6 mb-0">Registreer</button>
                                          </form>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </ul>
                </div>
                <% } %>
            </div>

            <% if(secondRow) {%>
                <div class="container">
                    <ul id="navbar_list"class="container col-7 col-sm-7 col-md-12 col-xl-12 d-flex flex-wrap justify-content-evenly pt-2 pb-2 mb-0">
                        <li><a href="/pokemonvergelijken"><img src="/bootstrapIcons/journals.svg" height="15px" style="vertical-align: text-top;" class="pe-2">Pokémon vergelijken</a></li>
                        <li><a href="/whosthatpokemon"><img src="/bootstrapIcons/question-circle.svg" height="15px" style="vertical-align: text-top;" class="pe-2">Wie is deze pokémon</a></li>
                        <li><a href="/pokemonBattle"><img src="/images/icon_battle.png" height="15px" style="vertical-align: text-top;" class="pe-2">Pokémon battle</a></li>
                        <li><a href="/myPokemon"><img src="/bootstrapIcons/card-list.svg" height="15px" style="vertical-align: text-top;" class="pe-2">Mijn Pokémon</a></li>
                    </ul>
                </div> 
            <%}%>

        </nav>
    </header>