<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.bundle.min.js" defer></script>
    <title>
        <%= title=="" ? `Project Eevee` : `Project Eevee - ${title}` %>
    </title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="row">

    <header class="bg-body-tertiary border p-0">

        <nav class="navbar navbar-expand-lg d-flex flex-column p-0">


            <div class="container-fluid <%= secondRow ? "border-bottom" : "" %>">
                <a class="navbar-brand ms-5" href="/"><img src="/bootstrapIcons/house.svg" height="30px"></a>
                <% if(secondRow) {%><a class="text-center position-absolute top-10 start-50 translate-middle-x" href="/home"><img src="/images/eevee_logo.png" height="45px"></a> <%}%>


                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end pe-5" id="navbarSupportedContent">
                    <ul class="d-grid gap-2 d-flex">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-uppercase" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Login
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <form class="d-flex flex-column">
                                            <div class="mb-3">
                                              <input type="email" class="form-outline border border-0 border-bottom ms-2" id="emaila" aria-describedby="emailHelp" placeholder="Email">
                                            </div>
                                            <div class="mb-3">
                                              <input type="password" class="form-outline border border-0 border-bottom ms-2" id="password" placeholder="paswoord">
                                            </div>
                                            <button type="submit" class="btn btn-outline-primary text-uppercase fs-6">Login</button>
                                          </form>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown me-5">
                                <a class="nav-link dropdown-toggle text-uppercase" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Register
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <form class="d-flex flex-column">
                                            <div class="mb-3">
                                              <input type="email" class="form-outline border border-0 border-bottom ms-2" id="emailb" aria-describedby="emailHelp" placeholder="Email">
                                            </div>
                                            <div class="mb-3">
                                              <input type="password" class="form-outline border border-0 border-bottom ms-2" id="passworda" placeholder="paswoord">
                                            </div>
                                            <div class="mb-3">
                                                <input type="password" class="form-outline border border-0 border-bottom ms-2" id="passwordb" placeholder="Herhaal paswoord">
                                              </div>
                                            <button type="submit" class="btn btn-outline-primary text-uppercase fs-6">Register</button>
                                          </form>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </ul>
                </div>
            </div>

            <% if(secondRow) {%>
               <div class=" container">
                <ul class="container d-flex flex-wrap justify-content-evenly align-items-center pt-2 mb-0">
                    <li><a href="/whosthatpokemon"><img src="/bootstrapIcons/question-circle.svg" height="15px" style="vertical-align: text-top;" class="pe-2">Wie is deze pokemon</a></li>
                    <li><a href="/pokemonBattle"><img src="/images/icon_battle.png" height="15px" style="vertical-align: text-top;" class="pe-2">Pokemon battle</a></li>
                    <li><a href="/myPokemon"><img src="/bootstrapIcons/card-list.svg" height="15px" style="vertical-align: text-top;" class="pe-2">Mijn Pokemon</a></li>
                    <li><a href="/pokemonvergelijken"><img src="/bootstrapIcons/journals.svg" height="15px" style="vertical-align: text-top;" class="pe-2">Pokemon vergelijken</a></li>
                    <li></li>
                </ul>
            </div> 
            <%}%>



        </nav>
    </header>