<%- include("partials/header",{title: "Pokemon vangen" }); %>
    <div class="row">
        <main class="container col-4">

            <img src="/images/fiffa.jpg" alt="">

        </main>

        <aside class=" container text-center col-2 ">

            <h2>Huidige Pokemon</h2>
            <img src="/images/fiffa.jpg" alt="">



        </aside>
    </div>
<%- include("partials/footer"); %>