<%- include("partials/header",{title: "Home" , secondRow: true }); %>
    <main class="col-9 col-sm-9 col-md-9 col-xl-9 d-flex d-flex justify-content-center">
       
        <div class="row d-flex d-flex justify-content-center">
            <div class="col-12 col-sm-12 d-flex flex-column">
                <h1 class="text-center p-3">Pokémon Details</h1>
                
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-xl-6 mt-5 d-flex flex-column align-items-center">
                <figure class="">
                    <img src="/images/eevee.png" width="250px", height="250px"class="" alt="Pokemon Image">
                </figure>
                <table id="pokemonDetailTables" class="table table-hover">
                    <tbody>
                        <tr>
                            <th>ID:</th>
                            <td>01</td>
                        </tr>
                        <tr>
                            <th>Name:</th>
                            <td>Eevee</td>
                        </tr>
                        <tr>
                            <th>Nickname:</th>
                            <td>the best Eevee
                                <img src="/bootstrapIcons/pen.svg" alt="Pen" width="20" height="20">
                            </td>
                        </tr>

                    </tbody>

                </table>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-xl-6 mt-5">
                <div class="col-12 d-flex d-flex flex-column align-items-left">
                    <h1>Statistieken</h1>
                    <table id="pokemonDetailTables" class="table table table-hover" >
                        
                        <tbody>
                            <tr>
                                <th style="text-align: start;">HP</th>
                                <td>10
                                </td>
                            </tr>
                            <tr>
                                <th style="text-align: start;">Attack</th>
                                <td>10
                                    <button class="ms-2">
                                        <img src="/images/arrow.png" height="20px" style="background-color: brown;"
                                            class="rounded-circle">
                                    </button>

                                    <button class="ms-2">
                                        <img src="/images/arrow.png" height="20px" style="background-color: brown;"
                                            class="rounded-circle" id="arrowDown">
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th style="text-align: start;">Defence</th>
                                <td>10
                                    <button class="ms-2">
                                        <img src="/images/arrow.png" height="20px" style="background-color: brown;"
                                            class="rounded-circle">
                                    </button>

                                    <button class="ms-2 mirror">
                                        <img src="/images/arrow.png" height="20px" style="background-color: brown;"
                                            class="rounded-circle">
                                    </button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 d-flex flex-column d-flex align-items-left pt-5">
                    <div>
                        <h1>Evolutiepad</h1>
                        <div class="d-flex ">
                            <img src="/images/eevee.png" width="100px">
                            <img src="/images/arrow.png" width="30px" height="30px" class="align-self-center"
                                id="arrowRight">
                            <img src="/images/eevee.png" width="100px">
                            <img src="/images/arrow.png" width="30px" height="30px" class="align-self-center"
                                id="arrowRight">
                            <img src="/images/eevee.png" width="100px">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- <div class="d-flex flex-row justify-content-center">
            <div class="p-2 w-50">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>ID:</th>
                            <td>01</td>
                        </tr>
                        <tr>
                            <th>Name:</th>
                            <td>Eevee</td>
                        </tr>
                        <tr>
                            <th>Nickname:</th>
                            <td>the best Eevee</td>
                        </tr>

                    </tbody>

                </table>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-evenly ">
            <div class="">
                <img src="/images/eevee.png" class="img-fluid" alt="">
            </div>
            <div class="d-flex flex-column">
                <div class="p-2 d-flex">
                    <div class="container-fluid">
                        <table class="table caption-top table-sm" style="width: 300px;">
                            <caption><h1>Statistieken</h1></caption>
                            <tbody>
                                <tr>
                                    <th style="text-align: start;">HP</th>
                                    <td>10
                                    </td>
                                </tr>
                                <tr>
                                    <th style="text-align: start;">Attack</th>
                                    <td>10
                                        <button class="ms-2">
                                            <img src="/images/arrow.png" height="20px" style="background-color: brown;"
                                                class="rounded-circle">
                                        </button>

                                        <button class="ms-2">
                                            <img src="/images/arrow.png" height="20px" style="background-color: brown;"
                                                class="rounded-circle" id="arrowDown">
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="text-align: start;">Defence</th>
                                    <td>10
                                        <button class="ms-2">
                                            <img src="/images/arrow.png" height="20px" style="background-color: brown;"
                                                class="rounded-circle">
                                        </button>

                                        <button class="ms-2 mirror">
                                            <img src="/images/arrow.png" height="20px" style="background-color: brown;"
                                                class="rounded-circle">
                                        </button>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="p-2 d-flex flex-column">
                    <div class="container-fluid">
                        <h1>Evolutiepad</h1>
                        <div class="d-flex ">
                            <img src="/images/eevee.png" width="100px">
                            <img src="/images/arrow.png" width="30px" height="30px" class="align-self-center" id="arrowRight">
                            <img src="/images/eevee.png" width="100px">
                            <img src="/images/arrow.png" width="30px" height="30px" class="align-self-center"  id="arrowRight">
                            <img src="/images/eevee.png" width="100px">
                        </div>

                    </div>
                </div>
            </div>


        </div> -->

    </main>

    <%- include("partials/aside"); %>
        <%- include("partials/footer"); %>