<%- include("partials/header",{title: "Pokemon vergelijken" , secondRow:true }); %>

    <div class="container d-flex flex-column p-0 col-9 col-md-9 col-sm-12 d-grid">
        <h1 class="mx-auto p-4">Pokémon vergelijken</h1>
        <main class="container d-flex flex-row flex-wrap p-0 col-9 col-md-9 col-sm-12 d-grid ">


            <article class="container d-flex flex-column col-12 col-md-6 col-sm-12">
                <div class="pe-5">
                    <form class="container form-outline mx-auto pt-5 p-sm-1 d-flex flex-row gap-2  " method="post">
                        <input type="search" id="form1" class="form-control" placeholder="zoek Pokémon"
                            aria-label="Search" list="pokemonlist" />
                        <datalist id="pokemonlist">
                            <option value="pikachu"></option>
                            <option value="charizard"></option>
                        </datalist>
                        <button id="buttonW" type="button" method="post" class="btn btn-primary buttonForm1"><svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg></button>
                    </form>
                </div>

                <script defer>
                    document.addEventListener("DOMContentLoaded", () => {
                        const button1 = document.querySelector(".buttonForm1");
                        const form1 = document.getElementById("form1");
                        const button2 = document.querySelector(".buttonForm2");
                        const form2 = document.getElementById("form2");
                
                        button1.addEventListener("mouseenter", () => {
                            form1.classList.add("border-on-hover");
                        });
                        button2.addEventListener("mouseenter", () => {
                            form2.classList.add("border-on-hover");
                        });
                        button1.addEventListener("mouseleave", () => {
                            form1.classList.remove("border-on-hover");
                        });
                        button2.addEventListener("mouseleave", () => {
                            form2.classList.remove("border-on-hover");
                        });
                    });
                </script>

                <a href="/pokemonCatch" class="h-50"><img src="/images/pikachu.png" class="img-fluid mx-auto rounded"
                        alt=""></a>

                <table class="table caption-top  mx-auto table-sm table table-hover">
                    <caption>
                        <h1>Statistieken</h1>
                    </caption>
                    <tbody>
                        <tr>
                            <th style="text-align: start;">HP</th>
                            <td>10
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: start;">Aanval</th>
                            <td>10
                                <button class="ms-2">
                                    <img src="/images/arrow.png" height="20px" style="background-color: brown;"
                                        class="rounded-circle">
                                </button>

                                <button class="ms-2">
                                    <img src="/images/arrow.png" height="20px" style="background-color: brown;"
                                        class="rounded-circle" id="arrowDown">
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: start;">Verdediging</th>
                            <td>10
                                <button class="ms-2">
                                    <img src="/images/arrow.png" height="20px" style="background-color: brown;"
                                        class="rounded-circle">
                                </button>

                                <button class="ms-2 mirror">
                                    <img src="/images/arrow.png" height="20px" style="background-color: brown;"
                                        class="rounded-circle">
                                </button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </article>


            <article class="container d-flex flex-column col-12 col-md-6 col-sm-12">

                <div class="pe-5">
                    <form class="container form-outline mx-auto pt-5 p-sm-1 d-flex flex-row gap-2  " method="post">
                        <input type="search" id="form2" class="form-control" placeholder="zoek Pokémon"
                            aria-label="Search" list="pokemonlist" />
                        <datalist id="pokemonlist">
                            <option value="pikachu"></option>
                            <option value="charizard"></option>
                        </datalist>
                        <button id="buttonW" type="button" method="post"  class=" btn btn-primary buttonForm2"><svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg></button>
                    </form>
                </div>

                <a href="/pokemonCatch" class="h-50"><img src="/images/pikachu.png" class="img-fluid mx-auto rounded"
                        alt=""></a>

                <table class="table caption-top  mx-auto table-sm table table-hover">
                    <caption>
                        <h1>Statistieken</h1>
                    </caption>
                    <tbody>
                        <tr>
                            <th style="text-align: start;">HP</th>
                            <td>10
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: start;">Aanval</th>
                            <td>10
                                <button class="ms-2">
                                    <img src="/images/arrow.png" height="20px" style="background-color: brown;"
                                        class="rounded-circle">
                                </button>

                                <button class="ms-2">
                                    <img src="/images/arrow.png" height="20px" style="background-color: brown;"
                                        class="rounded-circle" id="arrowDown">
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: start;">Verdediging</th>
                            <td>10
                                <button class="ms-2">
                                    <img src="/images/arrow.png" height="20px" style="background-color: brown;"
                                        class="rounded-circle">
                                </button>

                                <button class="ms-2 mirror">
                                    <img src="/images/arrow.png" height="20px" style="background-color: brown;"
                                        class="rounded-circle">
                                </button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </article>



        </main>
    </div>


    <%- include("partials/aside"); %>
        <%- include("partials/footer"); %>