<%- include("partials/header",{title: "Pokemon Battle" , secondRow:true }); %>
<script src="/js/hpbar.js" defer></script>
  <div class="row">

    <main class="container col-9 container d-flex flex-row flex-wrap p-0 col-9 col-md-9 col-sm-12 d-grid">
      <h1 class="mx-auto p-4">Pokémon Battle</h1>

      <section class="container d-flex"> <!-- Section Pokemon -->
        <article class="container">
          <div class="row justify-content-center">
            <div class="card col-md-3 m-3"> <!-- size and margin of card 1 -->
              <img src="/images/pikachu.png" alt="Huidige Pokemon">
              <div class="card-body text-center">
                <h5 class="card-title">Pikachu</h5>
              </div>
              <div class="hp">  <!-- HP bar own Pokemon -->
                <label for="HP">HP:</label>
                <div class="progress"> <!-- This one is necessary to display a grey outline of the total HP -->
                  <div id="hp-bar" class="progress-bar"></div>
                </div>
              </div>
            </div>

            <div class="card col-md-3 m-3"> <!-- size and margin of card 2 -->
              <img src="/images/empty.png" alt="enemyPokemon">
              <div class="card-body text-center">

                <form class="container form-outline mx-auto pt-5 p-sm-1 d-flex flex-row" method="post">
                  <!-- searchfield -->
                  <input type="search" id="form1" class="form-control" placeholder="Zoek Pokémon" aria-label="Search"
                    list="pokemonlist" />
                  <datalist id="pokemonlist">
                    <option value="Pikachu"></option>
                    <option value="Charizard"></option>
                  </datalist>
                  <button id="buttonW" type="button" method="post" class="btn btn-primary"><svg
                      xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                      viewBox="0 0 16 16">
                      <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg></button>
                </form>

              </div>

              <div class="hp">  <!-- HP bar enemy -->
                <label for="HP">HP:</label>
                <div class="progress"> <!-- This one is necessary to display a grey outline of the total HP -->
                  <div id="hp-bar-enemy" class="progress-bar">75</div>
                </div>
              </div>
              
            </div>
          </div>
        </article>
      </section>

      <section class="text-center container mb-5"> <!-- Section FightButton -->
        <button id="fightButton">
          <img src="/images/fightbutton.png" alt="fightButton"> <!-- (temporary) fightbutton image -->
        </button>
      </section>
    </main>

    <%- include("partials/aside"); %>
  </div>
  <%- include("partials/footer"); %>