<%- include("partials/header",{title: "Pokemon Battle" }); %>
    <div class="row">
        <main class="container col-9">
            <section class="container d-flex"> <!-- Section PokemonStats -->

              <article class="container">
                <div class="row justify-content-center">
                     <div class="card col-md-3 m-3"> <!-- size and margin of card 1 -->
                          <img src="/images/HPbar.png" alt="HPbar"> <!-- HPbar (TODO: in need of some cropping) -->
                          <img src="/images/pikachu.png" alt="Huidige Pokemon">
                          <div class="card-body text-center">
                              <h5 class="card-title">Huidige Pokemon</h5>
                          </div>
                          <div class="card text-center border-0">
                            <p class="card-text">Stats</p>
                          </div>
                    </div>

                    <div class="card col-md-3 m-3"> <!-- size and margin of card 2 -->
                        <img src="/images/HPbar.png" alt="HPbar">
                        <img src="/images/eevee.png" alt="Pokemon2">
                        <div class="card-body text-center">
                          <div class="input-group-append">  <!-- dropdown menu for the enemy Pokemon -->
                            <select class="custom-select card" style="text-align: left;">
                              <option selected>Kies een vijandige Pokemon</option>
                              <option value="1">Pikachu</option>
                              <option value="2">Eevee</option>
                              <option value="3">Gengar</option>
                            </select>
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary" type="button">Battle</button>
                            </div>
                          </div>
                        </div>
                        <div class="card text-center border-0">
                          <p class="card-text">Stats</p>
                        </div>
                    </div>
                </div>
              </article>

            </section>

            <section class="text-center"> <!-- Section FightButton -->
              <button id="fightButton">
                <img src="/images/fight_icon.png" alt="fightButton"> <!-- fightbutton image (TODO: add the word "Fight" on top of it) -->
              </button>
            </section>
        </main>

        <%- include("partials/aside"); %>
    </div>
<%- include("partials/footer"); %>