<%- include("partials/header",{title: "Pokemon vergelijken", secondRow:true }); %>
<main class="container d-flex flex-row flex-wrap p-0 col-9 col-md-9 col-sm-12 d-grid ">

<article class=" container d-flex flex-column col-md-6 col-sm-12 p-4">

        <form class="container form-outline mx-auto pt-5 p-sm-1" method="post" >
                <input type="search" id="form1" class="form-control" placeholder="Type query" aria-label="Search" list="pokemonlist" />
                <datalist id="pokemonlist">
                    <option value="pikachu"></option>
                    <option value="charazard"></option>
                </datalist>
                <button type="submit" style="display: none;"></button>
              </form>

        <img src="/images/pikachu.png" class="img-fluid mx-auto h-50 rounded" alt="">

        <table class="table caption-top  mx-auto table-sm">
            <caption><h1>Statistieken</h1></caption>
            <tbody>
                <tr>
                    <th style="text-align: start;">HP</th>
                    <td>10
                    </td>
                </tr>
                <tr>
                    <th style="text-align: start;">Attack</th>
                    <td>10
                        <button class="ms-2">
                            <img src="/images/arrow.png" height="20px" style="background-color: brown;"
                                class="rounded-circle">
                        </button>
      
                        <button class="ms-2">
                            <img src="/images/arrow.png" height="20px" style="background-color: brown;"
                                class="rounded-circle" id="arrowDown">
                        </button>
                    </td>
                </tr>
                <tr>
                    <th style="text-align: start;">Defence</th>
                    <td>10
                        <button class="ms-2">
                            <img src="/images/arrow.png" height="20px" style="background-color: brown;"
                                class="rounded-circle">
                        </button>
      
                        <button class="ms-2 mirror">
                            <img src="/images/arrow.png" height="20px" style="background-color: brown;"
                                class="rounded-circle">
                        </button>
      
                    </td>
                </tr>
            </tbody>
        </table>
</article>


<article class=" container  d-flex flex-column col-12 col-md-6 p-4 ">

    <form class="container form-outline mx-auto pt-5 p-sm-1" method="post" >
            <input type="search" id="form1" class="form-control" placeholder="Type query" aria-label="Search" list="pokemonlist" />
            <datalist id="pokemonlist">
                <option value="pikachu"></option>
                <option value="charazard"></option>
            </datalist>
            <button type="submit" style="display: none;"></button>
          </form>

    <img src="/images/pikachu.png" class="img-fluid mx-auto h-50 rounded" alt="">

    <table class="table caption-top  mx-auto table-sm" style="width: 300px;">
        <caption><h1>Statistieken</h1></caption>
        <tbody>
            <tr>
                <th style="text-align: start;">HP</th>
                <td>10
                </td>
            </tr>
            <tr>
                <th style="text-align: start;">Attack</th>
                <td>10
                    <button class="ms-2">
                        <img src="/images/arrow.png" height="20px" style="background-color: brown;"
                            class="rounded-circle">
                    </button>
  
                    <button class="ms-2">
                        <img src="/images/arrow.png" height="20px" style="background-color: brown;"
                            class="rounded-circle" id="arrowDown">
                    </button>
                </td>
            </tr>
            <tr>
                <th style="text-align: start;">Defence</th>
                <td>10
                    <button class="ms-2">
                        <img src="/images/arrow.png" height="20px" style="background-color: brown;"
                            class="rounded-circle">
                    </button>
  
                    <button class="ms-2 mirror">
                        <img src="/images/arrow.png" height="20px" style="background-color: brown;"
                            class="rounded-circle">
                    </button>
  
                </td>
            </tr>
        </tbody>
    </table>
</article>



</main>


<%- include("partials/aside"); %>
<%- include("partials/footer"); %>