<%- include("partials/header",{title: "whosthatpokemon", secondRow:true}); %>

<main class="container flex-column d-flex flex-wrap d-flex justify-content-center col-9 gap-4 p-0">
    <h1 class="text-center p-3">Wie is deze Pokémon</h1>

    <article class="mx-auto flex-column d-flex col-8  relative-position custom-class">
      <!-- Original image -->
      <img src="/images/Whoisthatpokemon.webp" class="img-fluid  rounded mb-3 col-sm-12 " alt="" >

      <!-- Image to layer on top -->
      <img src="/images/ditto who is.png" class="layered-img" alt="">

      <form class="container form-outline mx-auto pt-5 p-sm-1 d-flex flex-row gap-4" method="post">
          <input type="search" id="form1" class="form-control" placeholder="Wie is deze Pokémon" aria-label="Search" list="pokemonlist" />
          <datalist id="pokemonlist">
              <option value="Pikachu"></option>
              <option value="Charizard"></option>
          </datalist>
          <button id="buttonW" type="button" method="post" class="btn btn-primary">poging</button>
      </form>
      
      <script defer>
        document.addEventListener('DOMContentLoaded', function() {
          var form1 = document.getElementById('form1');
      
          form1.addEventListener('keypress', function(event) {
            if (event.which === 13) { // 13 is the key code for "Enter"
              event.preventDefault();
              event.target.closest('form').submit();
            }
          });
        });
      </script>
      
      
    
</article>
</main>


<%- include("partials/aside",{myPokemonPagina: false}); %>


<%- include("partials/footer"); %>


