* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body,
html {
  overflow-x: hidden;
  /* Fix for the H scrollbar */
  /* min-height: 100vh; */
  /* fix for the footer */
}

main {
  /* min-height: 84.8vh; */
  /* fix for the navbar & footer */
  padding-block: min(10vh, 10rem);

}

aside {
  padding-block: min(10vh, 10rem);
}

h1,
.h1 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: xx-large;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #5e727d;
}

nav {
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

#asideTH {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: medium;
}

footer {
  background-color: #5e727d;
  color: white;
}

#footerlink {
  color: white;
}

caption {
  color: inherit;
}

.card {
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.logoHome {
  margin: 15px;
  margin-left: 12rem;
}

/*..........Header.............*/

#emaila,
#emailb {
  font-size: small;
}

#password {
  font-size: small;

}

#passworda {
  font-size: small;
}

#passwordb {
  font-size: small;
}


/*..........MyPokemon.............*/

#myPokemonList {
  transition: 0.5s ease;
}

#myPokemonList:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}

#myPokemonSelection {
  background-color: #5e727d;
  border-color: #5e727d;

}

#myPokemonSelection:hover {
  background-color: #dee2e6;
  color: #5e727d;
}

/*---------- Pokemon detail ----------*/

th {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

td,
label {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}



#arrowDown {
  transform: rotate(180deg)
}

#arrowRight {
  transform: rotate(90deg);
}

#h1 {
  font-size: 40px;
}

/*---------- Pokemon battle ----------*/
#ownPokemon:hover,
#enemyPokemon:hover {
  transform: none;
}

.hp {
  align-items: center;
  grid-template-columns: 35px 1fr;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.hp label {
  margin-left: 5px;
}

#hp-bar {
  font-weight: bold;
  border: 3px solid inherit;
  color: inherit;
  width: 0%;
  transition: 2s ease-in-out;
  background-color: red;
}

#hp-bar-enemy {
  font-weight: bold;
  border: 3px solid inherit;
  color: inherit;
  width: 0%;
  transition: 2s ease-in-out;
  background-color: red;
}

#HPLabel,
#HPLabelEnemy {
  text-align: center;
}

#zoekPokemon {
  text-align: left;
}

#fightButton {
  border: 1px solid lightgrey;
  position: relative;
  width: 200px;
  transition: 0.3s;
}

#fightButton:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

/*---------- Pokemon vergelijken ----------*/
#buttonW {
  background-color: #5e727d;
  border-color: #5e727d;
}

#buttonW:hover {
  background-color: #dee2e6;
  color: #5e727d;
}

.buttonForm2:hover svg {
  fill: #5e727d;
  /* Change the fill color when the button is hovered */
}

.buttonForm1:hover svg {
  fill: #5e727d;
  /* Change the fill color when the button is hovered */
}

.border-on-hover {
  border: 1px solid #5e727d;
  /* Change the border style when the button is hovered */
}

/*---------- Wie is deze pokemon ----------*/
.relative-position {
  position: relative;
}

.layered-img {
  position: absolute;
  top: 15%;
  left: 5%;
  width: 45%;
  /* Make the overlay image cover the entire container */
  height: 45%;
  z-index: 1;
  /* Ensure the overlay image is on top of the original image */
  filter: brightness(0);
}



/*---------- Media queries ----------*/
@media (max-width: 1000px) {
  .logoHome {
    margin-left: 2rem;
  }
}

/*---------- For mobile phones ----------*/
@media (max-width: 991px) {
  .card:hover {
    transform: none;

  }

  #navbar_list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .custom-class {
    width: fit-content;
  }
}